<h1>Update</h1>

<form action="/update" method="POST">
    Id: <input type="text" name="id" value="<%= User3.id %>"><br>
    IdDistrict: <input type="text" name="idDistrict" value="<%= User3.idDistrict %>">><br>
    IdVillage: <input type="text" name="idVillage" value="<%= User3.idVillage %>">><br>
    Address: <input type="text" name="address" value="<%= User3.address %>">><br>
    IsGetNotification: <input type="text" name="isGetNotification" value="<%= User3.isGetNotification %>">><br>
    IsVerified: <input type="text" name="isVerified" value="<%= User3.isVerified %>">><br>
    IsGetOpen: <input type="text" name="isGetOpen" value="<%= User3.isGetOpen %>">><br>
    <button type="submit">Update</button>
</form>